/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ID]
      ,[NAME]
      ,[SAL]
  FROM [demo].[dbo].[EMPLOYEE]
  use [demo]
  SELECT * FROM(SELECT ROW_NUMBER() OVER(ORDER BY SAL) AS EMPROWNO,RANK() OVER(ORDER BY SAL) AS RANK ,NAME,SAL FROM EMPLOYEE) AS RNO WHERE RNO.EMPROWNO=2